/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #1F2937;
}

.container {
    padding: 120px 60px;
}

h1 {
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 60px;
    font-weight: 800;
    line-height: 50px;    
}

.white {
    color: white;
}

.green {
    color: #4ADF86;
}

p {
    margin: 0px;
    margin-top: 20px;
    color: #D5D4D8;
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    line-height: 28px;
}

#btn {
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.btn:hover {
    transform: scale(1.02);
    background-color: #10B989;
}

#passwords {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #2F3E53;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#passwordOne, 
#passwordTwo {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: #273549;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    border-radius: 5px;
    color: #55F991;
    line-height: 32px;
    text-align: center;
    height: 50px;
  align-items: center;
}
