body {
    margin: 0;
    background-color: rgb(33, 41, 54);
    height: 100vh;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /*height: 700px;
    width: 700px;
    padding-left: 50px;*/
    padding: 150px;
    margin: auto;
}

.title {
    font-family: 'Karla', sans-serif;
    font-size: 60px;
    font-weight: 800;
    line-height: 50px;
}

.white {
    color: white;
    margin: 0;
}

.green {
    color: #4ADF86;
    margin: 0;
}

p {
    color: rgb(207, 206, 211);
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: regular;
    line-height: 38px;
}

.btn {
    background-color: #10B981;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 40px;
}

.btn:hover {
    transform: scale(1.02);
    background-color: #10B989;
}

.passwords {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #2F3E53;
    width: 90%;
    margin-top: 35px;
}

.passwordOne,
.passwordTwo {
    background-color: #273549;
    color: #55F991;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: medium;
    text-align: center;
    height: 30px;
    width: 40%;
}
